<a href="https://colab.research.google.com/github/TraoAnTan/AI/blob/main/AI_W3_17_02_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# LOAD LIBRARY
import pandas as pd
#CREAT dataframe
dataframe = pd.DataFrame()
#ADD colums
dataframe  ['Name'] = ['Lemon', 'aplle', 'banana']
dataframe  ['Price'] =[5,8,7]
dataframe  ['License'] = [False, True, True]
#SHOW DATA
dataframe

     Name  Price  License
0   Lemon      5    False
1   aplle      8     True
2  banana      7     True

# New Section

In [ ]:
dataframe.shape

(3, 3)

In [ ]:
df = dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Price    3 non-null      int64
 2   License  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

In [ ]:
#print colums name

In [ ]:
df.describe()

          Price
count  3.000000
mean   6.666667
std    1.527525
min    5.000000
25%    6.000000
50%    7.000000
75%    7.500000
max    8.000000

In [ ]:
# loc iloc
df.loc[(df.Price==5)]

    Name  Price  License
0  Lemon      5    False

In [ ]:
df.loc[(df.Name =='lemon')]

Empty DataFrame
Columns: [Name, Price, License]
Index: []

In [ ]:
df.loc[(df.Name =='Lemon')]

    Name  Price  License
0  Lemon      5    False

In [ ]:
df.loc[(df.Price==5) | (df.Name =='banana') ]

     Name  Price  License
0   Lemon      5    False
2  banana      7     True

In [ ]:
df.loc[(df.Price == 5)| (df.Name == 'banana'), ['Name','Price']]

     Name  Price
0   Lemon      5
2  banana      7

In [ ]:
df.iloc[2]
type(df.iloc[2])

pandas.core.series.Series

In [ ]:
df.iloc[[2]]

     Name  Price  License
2  banana      7     True

In [ ]:
df.iloc[0:2]

    Name  Price  License
0  Lemon      5    False
1  aplle      8     True

In [ ]:
df.iloc[0:2,0:-1]
df.iloc[0:2,-1]

0    False
1     True
Name: License, dtype: bool

In [ ]:
sum = df.Price.sum()
print(sum)

20

In [ ]:
max = df.Price.max()
print(max)

8

In [ ]:
#creat row data
new = pd.Series(['Orange',10, True], index= ['Name', 'Price','License'])
dataframe.append(new, ignore_index=True)

     Name  Price  License
0   Lemon      5    False
1   aplle      8     True
2  banana      7     True
3  Orange     10     True

In [ ]:
# append a colums
dataframe ['Location'] = ['VN', 'LAO','CAM']
dataframe

     Name  Price  License Location
0   Lemon      5    False       VN
1   aplle      8     True      LAO
2  banana      7     True      CAM

In [ ]:
#delete a colum
dataframe.drop('Location', axis=1).head()

     Name  Price  License
0   Lemon      5    False
1   aplle      8     True
2  banana      7     True

In [ ]:
#replace
dataframe['Price'].replace(5,7).head(3)

0    7
1    8
2    7
Name: Price, dtype: int64

In [ ]:
#rename colums
dataframe.rename(columns = {'Price':'Cost'}).head()

     Name  Cost  License Location
0   Lemon     5    False       VN
1   aplle     8     True      LAO
2  banana     7     True      CAM

In [ ]:
import pandas as pd
dataframe = pd.read_csv('medals.csv')
dataframe.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
dataframe.shape

(2311, 8)

In [ ]:
list(dataframe.columns)

['Year',
 'City',
 'Sport',
 'Discipline',
 'NOC',
 'Event',
 'Event gender',
 'Medal']

In [ ]:
dataframe.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'NOC', 'Event', 'Event gender',
       'Medal'],
      dtype='object')

In [ ]:
dataframe.describe()

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [ ]:
dataframe.iloc[0:2,0:-1]

   Year      City    Sport      Discipline  NOC       Event Event gender
0  1924  Chamonix  Skating  Figure skating  AUT  individual            M
1  1924  Chamonix  Skating  Figure skating  AUT  individual            W

In [ ]:
dataframe.iloc[0:2,-1]

0    Silver
1      Gold
Name: Medal, dtype: object

In [ ]:
sum = dataframe.Medal.sum()
print(sum)

SilverGoldGoldBronzeGoldSilverSilverGoldSilverGoldGoldSilverBronzeBronzeGoldBronzeBronzeBronzeBronzeSilverGoldBronzeBronzeBronzeBronzeSilverBronzeBronzeSilverSilverGoldSilverBronzeGoldSilverBronzeGoldSilverGoldSilverGoldGoldBronzeSilverGoldSilverSilverGoldBronzeSilverSilverBronzeSilverBronzeGoldGoldSilverBronzeGoldGoldBronzeBronzeGoldBronzeSilverBronzeGoldBronzeGoldBronzeGoldSilverBronzeGoldSilverGoldSilverBronzeSilverGoldBronzeGoldSilverBronzeGoldSilverGoldSilverBronzeBronzeGoldSilverGoldBronzeBronzeBronzeSilverBronzeBronzeBronzeGoldSilverGoldBronzeBronzeBronzeGoldSilverSilverBronzeBronzeGoldSilverBronzeGoldSilverSilverSilverGoldSilverGoldSilverBronzeGoldSilverBronzeSilverGoldGoldGoldSilverGoldBronzeGoldSilverBronzeSilverSilverBronzeBronzeSilverBronzeGoldBronzeBronzeGoldSilverSilverGoldGoldSilverGoldSilverBronzeGoldGoldGoldSilverGoldGoldSilverBronzeSilverSilverBronzeGoldSilverBronzeGoldGoldSilverSilverBronzeGoldBronzeBronzeGoldSilverSilverBronzeGoldBronzeBronzeBronzeSilverBronzeGoldSilverBronzeSilverBronzeSilverGoldGoldGoldBronzeBronzeSilverSilverBronzeGoldSilverBronzeGoldGoldBronzeSilverBronzeBronzeSilverGoldBronzeGoldGoldSilverGoldSilverBronzeBronzeGoldSilverGoldSilverBronzeSilverSilverBronzeBronzeGoldGoldSilverGoldSilverBronzeBronzeGoldSilverGoldGoldSilverBronzeSilverBronzeGoldBronzeSilverGoldSilverSilverSilverGoldSilverBronzeSilverGoldBronzeSilverSilverGoldGoldBronzeBronzeGoldSilverBronzeSilverGoldGoldSilverSilverBronzeGoldGoldGoldGoldSilverBronzeBronzeSilverBronzeGoldBronzeSilverSilverSilverGoldBronzeGoldBronzeGoldBronzeGoldBronzeSilverGoldSilverBronzeBronzeGoldGoldSilverBronzeBronzeBronzeBronzeBronzeBronzeSilverSilverSilverBronzeGoldSilverSilverGoldSilverGoldGoldBronzeGoldBronzeGoldBronzeGoldSilverBronzeSilverGoldSilverBronzeSilverBronzeGoldBronzeBronzeGoldGoldSilverSilverGoldSilverBronzeSilverGoldSilverSilverSilverBronzeGoldGoldBronzeGoldBronzeSilverGoldSilverGoldGoldSilverBronzeBronzeSilverSilverBronzeBronzeGoldSilverGoldBronzeGoldGoldBronzeGoldGoldSilverBronzeGoldSilverBronzeBronzeSilverGoldBronzeBronzeSilverBronzeGoldSilverGoldSilverBronzeBronzeSilverGoldSilverBronzeSilverBronzeGoldGoldSilverSilverGoldSilverGoldBronzeGoldGoldSilverBronzeBronzeBronzeGoldGoldSilverSilverBronzeGoldBronzeBronzeSilverBronzeGoldGoldSilverGoldSilverSilverBronzeSilverGoldGoldGoldBronzeSilverGoldSilverGoldBronzeSilverBronzeBronzeSilverBronzeGoldBronzeGoldGoldGoldSilverGoldBronzeGoldSilverBronzeGoldSilverBronzeSilverBronzeBronzeGoldGoldBronzeGoldBronzeSilverBronzeSilverSilverSilverSilverGoldSilverBronzeSilverGoldBronzeGoldSilverBronzeSilverGoldGoldBronzeBronzeBronzeGoldSilverGoldSilverGoldSilverBronzeBronzeBronzeSilverGoldGoldBronzeSilverBronzeSilverSilverGoldSilverSilverGoldGoldSilverGoldSilverGoldBronzeBronzeSilverBronzeGoldSilverBronzeBronzeSilverBronzeBronzeGoldSilverSilverSilverSilverGoldBronzeGoldBronzeSilverSilverSilverGoldBronzeSilverGoldGoldSilverBronzeGoldSilverGoldGoldGoldSilverGoldBronzeGoldGoldSilverSilverSilverBronzeGoldSilverBronzeGoldSilverBronzeGoldBronzeBronzeGoldSilverBronzeGoldSilverBronzeSilverBronzeSilverSilverGoldGoldBronzeGoldBronzeBronzeSilverBronzeSilverBronzeGoldSilverGoldSilverSilverBronzeBronzeBronzeGoldSilverSilverGoldSilverGoldBronzeGoldSilverBronzeBronzeSilverBronzeGoldGoldGoldBronzeSilverSilverBronzeGoldGoldGoldGoldGoldGoldSilverBronzeSilverBronzeGoldBronzeSilverGoldSilverSilverSilverGoldSilverBronzeSilverGoldSilverGoldGoldGoldBronzeBronzeBronzeBronzeSilverBronzeBronzeSilverBronzeBronzeGoldGoldBronzeSilverSilverGoldSilverBronzeSilverGoldBronzeSilverGoldGoldGoldSilverSilverGoldBronzeSilverBronzeSilverGoldSilverGoldBronzeSilverSilverSilverSilverGoldBronzeSilverBronzeSilverSilverGoldSilverBronzeSilverSilverSilverBronzeBronzeSilverBronzeGoldSilverGoldGoldSilverBronzeBronzeGoldBronzeGoldSilverBronzeGoldSilverBronzeBronzeGoldBronzeSilverGoldGoldBronzeSilverBronzeGoldSilverGoldSilverSilverGoldBronzeSilverBronzeGoldGoldGoldBronzeSilverBronzeSilverBronzeBronzeSilverBronzeSilverGoldSilverGoldGoldBronzeGoldSilverGoldBronzeSilverGoldBronzeSilverBronzeBronzeSilverGoldBronzeGoldBronzeGoldGoldSilverGoldSilverBronzeBronzeSilverGoldSilverSilverGoldGoldGoldBronzeGoldSilverBronzeBronzeGoldSilverGoldBronzeGoldBronzeGoldSilverGoldSilverBronzeBronzeSilverGoldSilverSilverSilverBronzeGoldSilverGoldBronzeBronzeSilverBronzeSilverSilverBronzeGoldSilverGoldSilverGoldBronzeGoldGoldGoldBronzeGoldGoldSilverBronzeBronzeSilverSilverBronzeSilverBronzeGoldBronzeGoldSilverBronzeGoldSilverSilverBronzeBronzeSilverBronzeGoldBronzeBronzeSilverSilverSilverGoldBronzeGoldSilverGoldSilverBronzeSilverGoldSilverBronzeBronzeSilverBronzeGoldGoldGoldGoldSilverSilverGoldBronzeGoldSilverBronzeGoldGoldGoldSilverBronzeBronzeGoldGoldSilverBronzeGoldBronzeGoldBronzeSilverBronzeGoldGoldBronzeSilverSilverBronzeGoldBronzeSilverBronzeGoldSilverGoldBronzeSilverGoldBronzeSilverBronzeBronzeSilverSilverBronzeSilverSilverSilverBronzeGoldBronzeBronzeBronzeBronzeSilverSilverGoldGoldBronzeSilverSilverBronzeGoldBronzeSilverGoldGoldSilverSilverGoldBronzeBronzeBronzeSilverGoldGoldGoldBronzeGoldSilverSilverSilverSilverSilverSilverSilverGoldGoldSilverGoldSilverBronzeBronzeBronzeBronzeSilverGoldBronzeSilverBronzeSilverBronzeSilverGoldBronzeBronzeBronzeBronzeGoldGoldGoldBronzeBronzeSilverGoldGoldSilverBronzeGoldBronzeGoldGoldSilverBronzeGoldSilverBronzeGoldSilverGoldSilverBronzeGoldGoldGoldBronzeSilverGoldGoldSilverGoldBronzeGoldGoldSilverSilverBronzeSilverGoldGoldBronzeGoldBronzeSilverGoldBronzeBronzeBronzeGoldBronzeSilverGoldBronzeSilverBronzeBronzeSilverSilverGoldBronzeGoldGoldBronzeSilverGoldSilverGoldSilverBronzeBronzeGoldSilverGoldBronzeGoldSilverGoldSilverBronzeGoldSilverBronzeGoldSilverSilverGoldGoldGoldSilverBronzeBronzeGoldBronzeSilverBronzeBronzeBronzeGoldSilverGoldBronzeSilverGoldSilverGoldBronzeSilverGoldGoldBronzeGoldGoldSilverSilverBronzeBronzeSilverBronzeBronzeGoldBronzeGoldSilverBronzeSilverBronzeSilverBronzeBronzeGoldGoldSilverBronzeBronzeSilverBronzeSilverGoldBronzeSilverSilverGoldSilverSilverGoldSilverSilverGoldGoldSilverGoldSilverSilverSilverBronzeGoldSilverGoldSilverSilverGoldSilverBronzeBronzeSilverSilverBronzeBronzeSilverBronzeBronzeGoldGoldGoldGoldBronzeGoldSilverBronzeSilverGoldSilverSilverBronzeGoldGoldGoldSilverBronzeSilverGoldSilverGoldBronzeGoldSilverGoldSilverGoldSilverGoldBronzeSilverBronzeSilverBronzeSilverGoldBronzeSilverBronzeBronzeGoldGoldSilverBronzeBronzeBronzeGoldGoldBronzeSilverGoldSilverSilverBronzeSilverSilverBronzeGoldBronzeBronzeSilverGoldSilverSilverBronzeBronzeGoldGoldSilverBronzeGoldSilverBronzeGoldGoldBronzeGoldGoldBronzeBronzeSilverBronzeSilverSilverGoldBronzeGoldGoldBronzeGoldSilverBronzeGoldSilverBronzeGoldGoldSilverBronzeGoldBronzeGoldSilverGoldSilverSilverGoldBronzeSilverBronzeGoldBronzeBronzeBronzeSilverGoldSilverBronzeSilverGoldBronzeSilverGoldSilverBronzeGoldSilverBronzeGoldBronzeSilverBronzeGoldBronzeBronzeBronzeSilverSilverGoldSilverBronzeSilverBronzeSilverGoldSilverGoldSilverSilverSilverBronzeSilverGoldBronzeSilverBronzeGoldGoldBronzeGoldGoldGoldSilverBronzeBronzeGoldBronzeSilverGoldBronzeSilverBronzeGoldSilverBronzeSilverBronzeGoldGoldGoldBronzeGoldSilverBronzeSilverSilverGoldSilverGoldSilverGoldSilverGoldSilverSilverGoldSilverSilverBronzeSilverGoldSilverGoldBronzeGoldBronzeGoldSilverGoldSilverBronzeGoldSilverGoldBronzeBronzeBronzeGoldSilverGoldSilverGoldSilverGoldSilverBronzeBronzeSilverBronzeSilverSilverBronzeBronzeBronzeBronzeSilverGoldBronzeGoldGoldSilverSilverSilverGoldBronzeBronzeSilverBronzeSilverGoldSilverGoldBronzeGoldBronzeGoldGoldBronzeGoldSilverGoldSilverGoldGoldSilverBronzeSilverSilverBronzeBronzeGoldBronzeBronzeBronzeGoldBronzeBronzeBronzeBronzeSilverBronzeGoldSilverGoldGoldGoldSilverSilverBronzeGoldBronzeSilverBronzeGoldSilverBronzeGoldSilverBronzeBronzeSilverSilverGoldGoldSilverSilverBronzeBronzeSilverSilverSilverBronzeBronzeSilverGoldBronzeSilverBronzeBronzeBronzeBronzeBronzeSilverBronzeSilverBronzeBronzeBronzeBronzeBronzeBronzeSilverBronzeBronzeSilverGoldSilverBronzeGoldBronzeGoldSilverSilverBronzeBronzeGoldSilverBronzeGoldGoldSilverGoldGoldGoldBronzeBronzeGoldSilverBronzeGoldGoldSilverBronzeGoldSilverBronzeBronzeGoldGoldGoldBronzeSilverBronzeBronzeSilverBronzeBronzeSilverGoldSilverSilverGoldSilverGoldSilverBronzeGoldGoldGoldBronzeBronzeSilverBronzeGoldSilverGoldGoldSilverBronzeGoldSilverSilverBronzeGoldSilverGoldSilverSilverSilverBronzeGoldBronzeGoldBronzeGoldSilverSilverGoldSilverBronzeGoldGoldSilverGoldGoldSilverGoldGoldSilverBronzeSilverGoldGoldSilverSilverBronzeSilverGoldGoldGoldSilverBronzeBronzeBronzeBronzeSilverGoldSilverSilverSilverBronzeGoldGoldBronzeGoldGoldSilverBronzeGoldSilverBronzeSilverBronzeGoldGoldGoldGoldGoldSilverSilverGoldSilverGoldBronzeBronzeBronzeGoldBronzeGoldSilverSilverBronzeGoldSilverBronzeSilverSilverBronzeBronzeBronzeBronzeBronzeBronzeBronzeGoldGoldSilverGoldSilverSilverBronzeBronzeGoldGoldBronzeBronzeSilverGoldSilverGoldBronzeSilverSilverSilverBronzeSilverSilverSilverGoldSilverBronzeSilverBronzeBronzeBronzeBronzeGoldBronzeBronzeSilverSilverSilverSilverGoldBronzeBronzeBronzeGoldBronzeSilverBronzeGoldBronzeBronzeGoldGoldBronzeSilverGoldBronzeGoldBronzeGoldGoldSilverBronzeSilverBronzeGoldSilverGoldSilverBronzeGoldSilverGoldBronzeGoldSilverSilverSilverGoldSilverGoldSilverGoldSilverSilverBronzeSilverBronzeSilverBronzeGoldBronzeGoldBronzeGoldBronzeGoldGoldSilverBronzeBronzeGoldBronzeGoldGoldSilverBronzeBronzeGoldSilverGoldSilverGoldBronzeSilverGoldGoldSilverGoldSilverGoldSilverBronzeBronzeGoldSilverSilverGoldSilverGoldBronzeSilverGoldSilverGoldBronzeGoldSilverBronzeGoldGoldSilverSilverBronzeSilverGoldSilverGoldSilverGoldGoldSilverGoldSilverBronzeGoldGoldGoldGoldSilverBronzeSilverGoldBronzeSilverBronzeBronzeGoldBronzeSilverSilverSilverGoldBronzeSilverGoldSilverSilverBronzeGoldGoldGoldGoldBronzeBronzeGoldGoldBronzeSilverBronzeBronzeSilverBronzeGoldBronzeGoldBronzeBronzeSilverGoldSilverBronzeBronzeBronzeBronzeBronzeBronzeSilverSilverBronzeGoldGoldGoldBronzeBronzeBronzeGoldGoldSilverBronzeBronzeGoldGoldBronzeSilverBronzeBronzeGoldSilverSilverBronzeBronzeGoldGoldGoldGoldSilverSilverSilverGoldBronzeGoldSilverGoldGoldSilverGoldGoldBronzeSilverSilverBronzeGoldGoldGoldSilverSilverBronzeGoldSilverSilverBronzeGoldSilverSilverBronzeGoldSilverSilverGoldGoldSilverGoldGoldBronzeSilverGoldSilverBronzeGoldSilverSilverGoldSilverGoldBronzeGoldBronzeSilverBronzeBronzeGoldBronzeSilverSilverSilverSilverGoldSilverGoldBronzeSilverSilverBronzeGoldBronzeGoldGoldSilverSilverBronzeBronzeSilverBronzeSilverGoldSilverGoldGoldSilverGoldSilverSilverSilverGoldSilverGoldGoldSilverGoldGoldSilverGoldBronzeBronzeGoldSilverBronzeGoldGoldGoldGoldSilverBronzeBronzeGoldSilverBronzeGoldBronzeGoldSilverBronzeGoldBronzeBronzeBronzeSilverGoldSilverSilverGoldSilverBronzeGoldGoldBronzeBronzeSilverBronzeBronzeSilverBronzeBronzeGoldGoldGoldBronzeBronzeBronzeBronzeSilverBronzeBronzeSilverBronzeSilverGoldGoldGoldSilverSilverSilverBronzeSilverBronzeBronzeGoldSilverGoldBronzeBronzeBronzeGoldGoldBronzeSilverBronzeGoldSilverSilverSilverSilverSilverBronzeBronzeGoldSilverGoldBronzeGoldGoldBronzeSilverSilverGoldBronzeGoldBronzeGoldSilverBronzeSilverSilverBronzeGoldBronzeSilverGoldGoldGoldSilverGoldBronzeSilverSilverSilverGoldSilverBronzeGoldBronzeGoldBronzeSilverSilverSilverBronzeSilverGoldSilverBronzeBronzeGoldSilverSilverGoldSilverGoldBronzeBronzeSilverBronzeSilverBronzeBronzeGoldBronzeSilverGoldSilverSilverGoldSilverBronzeSilverGoldSilverGoldGoldGoldSilverSilverSilverBronzeSilverBronzeSilverSilverBronzeGoldBronzeBronzeGoldGoldSilverSilverBronzeBronzeSilverGoldGoldSilverBronzeSilverBronzeSilverGoldGoldSilverGoldGoldGoldGoldSilverBronzeGoldSilverBronzeSilverGoldBronzeSilverSilverSilverGoldBronzeSilverSilverBronzeBronzeGoldBronzeGoldBronzeGoldGoldBronzeGoldBronzeGoldGoldSilverGoldGoldSilverGoldSilverGoldGoldBronzeBronzeBronzeBronzeGoldBronzeGoldBronzeGoldSilverSilverBronzeBronzeSilverSilverBronzeBronzeSilverGoldBronzeSilverSilverSilverSilverBronzeSilverBronzeBronzeBronzeGoldBronzeSilverBronzeBronzeBronzeGoldGoldSilverSilverSilverGoldGoldBronzeGoldSilverGoldBronzeSilverGoldSilverGoldBronzeBronzeBronzeBronzeBronzeBronzeBronzeGoldSilverSilverBronzeSilverBronzeGoldGoldSilverGoldGoldSilverGoldSilverGoldGoldSilverBronzeBronzeBronzeGoldBronzeBronzeGoldGoldGoldBronzeBronzeSilverBronzeBronzeSilverSilverBronzeBronzeGoldSilverGoldSilverBronzeSilverGoldGoldGoldGoldBronzeBronzeGoldSilverGoldSilverGoldSilver

In [ ]:
dataframe.set_index(['NOC'])

,Year,City,Sport,Discipline,Event,Event gender,Medal
NOC,,,,,,,
AUT,1924,Chamonix,Skating,Figure skating,individual,M,Silver
AUT,1924,Chamonix,Skating,Figure skating,individual,W,Gold
AUT,1924,Chamonix,Skating,Figure skating,pairs,X,Gold
BEL,1924,Chamonix,Bobsleigh,Bobsleigh,four-man,M,Bronze
CAN,1924,Chamonix,Ice Hockey,Ice Hockey,ice hockey,M,Gold
...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Snowboard,Half-pipe,M,Silver
USA,2006,Turin,Skiing,Snowboard,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,Half-pipe,W,Silver
USA,2006,Turin,Skiing,Snowboard,Snowboard Cross,M,Gold
USA,2006,Turin,Skiing,Snowboard,Snowboard Cross,W,Silver

In [ ]:
dataframe.iloc[0:10]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold

In [ ]:
dataframe.iloc[[200,]]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
200,1948,St. Moritz,Skiing,Nordic Combined,FIN,individual,M,Gold

In [ ]:
data = dataframe.set_index(dataframe['NOC'])
data.loc['GER']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
GER,1928,St. Moritz,Bobsleigh,Bobsleigh,GER,five-man,M,Bronze
GER,1932,Lake Placid,Bobsleigh,Bobsleigh,GER,four-man,M,Bronze
GER,1932,Lake Placid,Ice Hockey,Ice Hockey,GER,ice hockey,M,Bronze
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,individual,M,Silver
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,pairs,X,Gold
...,...,...,...,...,...,...,...,...
GER,2006,Turin,Skiing,Cross Country S,GER,sprint 1.5km,W,Silver
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual,M,Gold
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual sprint,M,Bronze
GER,2006,Turin,Skiing,Nordic Combined,GER,Team,M,Silver
GER,2006,Turin,Skiing,Snowboard,GER,Giant parallel slalom,W,Silver